section {
  border: red solid 1px;

  background-color: black;
  padding: 50px;
}

p {
  font-size: 20px;
  margin-bottom: 20px;
  color: white;
}

.pictures {
  border: blue solid 1px;
  display: flex;
  overflow: scroll hidden;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: white;
}
